<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="org.project.logtokafka">
    <Appenders>
        <KafkaAppender name="KafkaAppender" topic="topic">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} %highlight{%-5p} %message" disableAnsi="false"/>
        </KafkaAppender>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="KafkaAppender"/>
        </Root>
    </Loggers>
</Configuration>